/* 공통 적용 */ 

.header,
.event,
.notice-n-promotion,
.rewards,
.rwanda,
.new_arrival-bean,
.favorite,
.magazine,
.store,
.footer-menu,
.awards,
.bottom-util
 {
  width: 1100px;
  margin: 0 auto;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.comp-btn {
  display: inline-block;
  padding: 9px 29px 10px;
  border: 2px solid;
  border-radius: 3px;
  font-size: 1.6rem;
  transition-property: background-color, color;
  transition-duration: 500ms;
}
.comp-btn:hover,
.comp-btn:focus {
  text-decoration: underline;
}

/* 숨김 콘텐츠 */
.a11y-hidden, legend {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 헤더 영역 */
.header-bg {
  background-color: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.logo {
  float: left;
  margin-top: 20px;
}
.utility {
  float: right;
}
.utility-list {
  display: inline-block;
  margin: 11px 10px;
}
.utility-list li {
  float: left;
  border-left: 1px solid #ccc;
}
.utility-list li:first-child {
  border-left: none;
}
.utility-list li a {
  padding: 0 15px;
  color: #555555;
  font-size: 1.3rem;
}

.utility form {
  margin-top: 7px;
  margin-right: 30px;
  float: right;
}
.utility fieldset {
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
}
.utility input {
  border: none;
  padding: 5px 10px;
}
.search-btn {
  display: inline-block;
  overflow: hidden;
  background-image: url(../img/search-btn.png);
  background-repeat: no-repeat;
  background-size: 20px 21px;
  background-position: center;
  padding-top: 34px;
  width: 34px;
  height: 34px;
  vertical-align: middle;
}
.navigation {
  float: right;
}
.menu {
  font-size: 0;
}
.menu-item {
  display: inline-block;
}
.menu-item a {
  display: inline-block;
  padding: 15px 25px 40px 25px;
  color: #555555;
  font-weight: 400;
  font-size: 1.3rem;
}
.menu-item a:hover {
  color: #5f8c05;
  background-color: #2c2a29;
  text-decoration: underline;
}

/* 이벤트 영역 */
.event-bg {
  background-image: url(../img/event_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
  margin-top: 121px;
  position: relative;
}
.event {
  line-height: 1.1;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto;
  padding: 50px 0 130px 0;
  width: 1100px;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
@keyframes opacityAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.event__slogan {
  opacity: 0;
  width: 250px;
  font-size: 6.5rem;
  font-weight: 500;
  margin-bottom: 35px;
  animation: opacityAni 500ms ease-in-out forwards;
  animation-delay: 1500ms;
}
.event__slogan span:first-child {
  color: #ff8800f6;
}
.event__slogan span:last-child {
  color: #1aaa00;
}
.event figure {
  position: absolute;
  opacity: 0;
}
.event__detail {
  position: absolute;
  display: block;
  font-size: 1.67rem;
  color: #fff;
  font-weight: 500;
  width: 210px;
  text-align: center;
}
.event__grapefruit-lime img,
.event__summer-latte img,
.event__melon img {
  width: 100%;
}
.event__detail span:first-child::after{
  content: "";
  display: block;
  background-color: #fff;
  height: 1px;
  margin: 10px 0;
}
.event__detail span:first-child{
  letter-spacing: 3px;
  line-height: 22px;
}
.event__grapefruit-lime {
  top: 12.02%;
  left: 56.37%;
  width:15%;
  animation: opacityAni 500ms ease-in-out forwards;
}
.event__grapefruit-lime .event__detail {
  top: 0;
  right: 111%;
}
.event__summer-latte {
  width: 25%;
  top: 40%;
  left: 34.91%;
  animation: opacityAni 500ms ease-in-out forwards;
  animation-delay: 500ms;
}
.event__summer-latte .event__detail {
  top: 55%;
  right: 90%;
}
.event__melon {
  width: 27%;
  top: 32%;
  right: -5%;
  animation: opacityAni 500ms ease-in-out forwards;
  animation-delay: 1000ms;
}
.event__melon .event__detail {
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}
.event__more-btn {
  opacity: 0;
  animation: opacityAni 500ms ease-in-out forwards;
  animation-delay: 2000ms;
}
.event__more-btn:hover, 
.event__more-btn:focus {
  background-color: #00a252;
}
.event__pin {
  position: fixed;
  top: 135px;
  left: 50%;
  margin-left: 560px;
  width: 141px;
}
.event__pin a {
 width: 100%;
}
.event__pin a img {
  width: 100%;
}

/* 공지사항 & 프로모션 */
.notice-n-promotion-backgound {
  height: 62px;
  background-image: linear-gradient(to right, #111 55%, #f5f4ef 45%);
}
.notice-n-promotion section {
  float: left;
  line-height: 62px;
  color: #fff;
}
.notice {
  width: 55%;
}
.promotion {
  width: 45%;
}
.notice-heading,
.promotion-heading {
  display: inline-block;
  font-size: 1.8em;
  font-weight: 600;
}
.promotion-heading {
  color: #111;
  margin-left: 30%;
}
.notice-news {
  margin-left: 20px;
  vertical-align: top;
  padding: 1px 150px 1px 5px;
}
.notice-more-btn,
.promotion-btn {
  float: right;
  margin-right: 30px;
}
.notice-more-btn {
  position: relative;
  margin-top: 15px;
  width: 36px;
  height: 36px;
  text-indent: 36px;
  white-space: nowrap;
  overflow: hidden;
}
.notice-more-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/btn_notice_plus.png) no-repeat;
  background-size: cover;
}
.promotion-btn {
  position: relative;
  margin-top: 15px;
  width: 36px;
  height: 36px;
  text-indent: 35px;
  white-space: nowrap;
  overflow: hidden;
}
.promotion-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/btn_prom_down.png) no-repeat;
  background-size: cover;
}

/* 리워드 영역 */
.rewards-bg {
  height: 263px;
  background-image: linear-gradient(to right, #272727 40%, #d6c798 40%);
}
.rewards {
  height: 100%;
  background-image: url(../img/reward_star_bg_w.png), url(../img/reward_texbg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left -13%, top right;
  padding: 30px 0 50px 0;
}

.rewards-heading {
  float: left;
  margin-top: 86px;
}
.rewards-title,
.rewards__text-box,
.rewards__eGift-box {
  margin-left: 380px;
}
.rewards-title {
  font-size: 2.2em;
  margin-bottom: 10px;
}
.rewards-title span,
.rewards__text-box span,
.rewards__eGift-box span {
  font-weight: 700;
}
.rewards__text-box,
.rewards__eGift-box {
  overflow: hidden;
  font-weight: 500;
  font-size: 1.55em;
  color: #555;
  margin-bottom: 30px;
}
.rewards__text {
  width: 450px;
  float: left;
}
.rewards__efift {
  width: 365px;
  float: left;
  margin-bottom: 30px;
}
.rewards__btn-box,
.rewards__eGift-btn {
  float: right;
}
.rewards__btn-box a,
.rewards__eGift-btn {
  font-weight: 500;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 3px;
  text-align: center;
  padding: 6px 0;
  transition-property: background-color, color;
  transition-duration: 500ms;
}

.rewards__btn-box a {
  margin-top: 5px;
  color: #000;
  width: 120px;
}

.rewards__btn-box a:first-child {
  color: #fff;
  background-color: #272727;
}
.rewards__btn-box a:first-child:hover,
.rewards__btn-box a:first-child:focus {
  color: #000;
  text-decoration: underline;
  background-color: transparent;
}
.rewards__btn-box a:last-child {
  color: #000;
  background-color: transparent;
}
.rewards__btn-box a:last-child:hover,
.rewards__btn-box a:last-child:focus,
.rewards__eGift-btn:hover, 
.rewards__eGift-btn:focus {
  color: #fff;
  text-decoration: underline;
  background-color: #272727;
}

.rewards__eGift-box span {
  display: block;
}

.rewards__eGift-btn {
  color: #000;
  width: 245px;
}

/* 르완다 블론드 로스트 */
.rwanda-bg {
  background-image: url(../img/rwanda_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 573px;
}
.rwanda {
  position: relative;
  padding-top: 150px;
  height: 100%;
}
.rwanda-heading {
  position: absolute;
  left: 150px;
  top: 70px;
}
.rwanda__text,
.rwanda__more-btn {
  margin-left: 450px;
}
.rwanda__text {
  margin-bottom: 50px;
}
.rwanda__text dt {
  color: rgb(172, 209, 192);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.rwanda__text dt span {
  display: block;
  font-size: 3.5rem;
  font-weight: 700;
}
.rwanda__text dd {
  color: #eee;
  font-size: 1.7rem;
}
.rwanda__more-btn {
  border-color: #fff;
  color: #fff;
}
.rwanda__more-btn:hover,
.rwanda__more-btn:focus {
  background: #fff;
  color: #000;
}

/* 새음료_자메이카 */

.new_arrival-bean-box {
  height: 400px;
  background-color: #c3d2d9;
}
.new_arrival-bean {
  position: relative;
  padding-top: 60px;
  height: 100%;
  background-image: url(../img/new_arrival-logo.png), url(../img/new_arrival-bean-bg.png);
  background-position: 0 50%, 100% 101%;
  background-repeat: no-repeat;
  background-size: auto, 60%;
}

.new_arrival-heading {
  padding-left:  160px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  letter-spacing: .5rem;
  font-weight: 700;
}
.new_arrival__title span {
  display: block;
  padding-left: 160px;
  color: #333;
}
.new_arrival__title span:nth-child(1),
.new_arrival__title span:nth-child(2) {
  font-family: 'Rowdies', cursive;
  font-size: 6rem;
  font-weight: 300;
  line-height: 1;
}
.new_arrival__title span:last-child {
  margin-top: 10px;
  margin-bottom: 90px;
  font-size: 2rem;
  letter-spacing: 1.2rem;
}
.new_arrival-bean__info {
  padding-left: 160px;
}
.new_arrival-bean__info li {
  position: relative;
  bottom: 10px;
  margin-top: 5px;
  padding-left: 10px;
  color: #555;
  text-shadow: rgb(255, 255, 255) 1px 0 3px;
}
.new_arrival-bean__info li::before {
  content:"";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}

.new_arrival-bean__more-btn {
  position: absolute;
  top: 250px;
  left: 0px;
  margin: 20px 0 0px 160px;
  color: #222;
  border-color: #222;
}
.new_arrival-bean__more-btn:hover,
.new_arrival-bean__more-btn:focus {
  color: #fff;
  background-color: #272727;
}

/* 다양한 메뉴 */
.favorite-bg {
  height: 800px;
  background-image: url(../img/fav_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.favorite {
  height: 100%;
  background-image: url(../img/fav-picture.png);
  background-position: 100% 30%;
  background-repeat: no-repeat;
  padding-top: 110px;
}

.favorite-text {
  width: 362px;
  text-align: right;
  color: #fff;
}
.favorite-title span {
  display: inline-block;
  line-height: .9;
}
.favorite-title span:first-child {
  letter-spacing: 13px;
  font-size: 90px;
  font-weight: 500;
}
.favorite-title span:nth-child(2) {
  letter-spacing: 9px;
  font-size: 80px;
  font-weight: 500;
}
.favorite-title span:last-child {
  letter-spacing: 7px;
  font-size: 43px;
  font-weight: 500;
  line-height: 1.7;
}
.favorite-sub-title {
  display: inline-block;
  margin-top: 40px;
  font-size: 2.8rem;
  text-align: right;
}
.favorite-sub-title span {
  font-weight: 700;
}
.favorite-description {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.favorite-description span {
  display: block;
}
.favorite-more-btn:hover,
.favorite-more-btn:focus {
  color: #000;
  background-color: #fff;
  text-decoration: underline;
  border-color: #fff;
}

/* 매거진  */
.magazine-box {
  height: 695px;
}
.magazine {
  height: 100%;
  background-image: url(../img/magazine_bg.png), url(../img/new_arrival-logo.png);
  background-repeat: no-repeat;
  background-position: 0 50%, 100% 42%;
  background-size: auto, 5.5em;
  padding-top: 265px;
  position: relative;
}
.magazine::before {
  content:"";
  display: block;
  position: absolute;
  top: 430px;
  right: 0;
  z-index: -1;
  border-top: 1px solid #aaa;
  width: 1000px;
  height: 1px;
}
.magazine::after {
  content:"";
  display: block;
  position: absolute;
  top: 140px;
  left: 500px;
  z-index: -1;
  border-left: 1px solid #aaa;
  width: 1px;
  height: 445px;
}
.magazine-heading,
.magazine-text,
.magazine-link {
  margin-left: 550px;
}
.magazine-heading {
  font-size: 4.2em;
  font-weight: 500;
  letter-spacing: .25em;
  font-family: 'Oswald', sans-serif;
}
.magazine-text {
  margin-top: 10px;
  font-size: 1.65em;
  color: #888;
}
.magazine-link {
  display: inline-block;
  margin-top: 85px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: .45em;
  padding-left: 12px;
  padding-right: 5px;
  padding: 0px 5px 5px 12px;
  transition: background-color 500ms;
}
.magazine-link:hover,
.magazine-link:focus {
  background-color: rgb(209, 135, 49);
  color: #fff;
  text-decoration: underline;
}
/* 스토어 */
.store-bg {
  height: 400px;
  background-image: url(../img/store_bg.jpg);
}
.store {
  height: 100%;
  background-image: url(../img/store_dt.png),url(../img/store_cafe.png),url(../img/store_bean.png), url(../img/store_market.png);
  background-repeat: no-repeat;
  background-position: 300px 85%, 70px 0, 58% -60px, 100% 100%;
  padding: 100px 0 0 660px;
}
.store-text-box {
  display: inline-block;
  text-align: left;
}
.store-title {
  font-size: 2.5rem;
  font-weight: 700;
}
.store-sub-title {
  margin-top: 3px;
  font-size: 1.8rem;
}
.store-text {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.store-text span {
  font-weight: 700;
}
.store-search-btn:hover,
.store-search-btn:focus {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

/* 푸터 영역 */

.footer {
  height: 553px;
  background-color: #2C2A29;
  color: #fff;
  padding-top: 32px;
}
.footer-menu {
  background-image: url(../img/footer_logo.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
}
.footer-menu__item {
  float: left;
  width: 220px;
}
.footer-menu__item span {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
.footer-menu__list li {
  margin-bottom: 5px;
  font-size: 12px;
}
.awards-wrap {
  margin-top: 40px;
  height: 80px;
  background-color: #272727;
}
.awards li {
  vertical-align: center;
  height: 80px;
  width: 180px;
  display: inline-block;
  padding-top: 80px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left;
}
.awards li:nth-child(1) {
  background-image: url(../img/footer_award17_01.jpg);
}
.awards li:nth-child(2) {
  background-image: url(../img/footer_award17_02.jpg);
}
.awards li:nth-child(3) {
  background-image: url(../img/footer_award17_03.jpg);
}
.awards li:nth-child(4) {
  background-image: url(../img/footer_award17_04.jpg);
}
.awards li:nth-child(5) {
  background-image: url(../img/footer_award17_05.jpg);
}
.awards li:nth-child(6) {
  background-image: url(../img/footer_award17_06.jpg);
}
.bottom-util-wrap {
  margin-top: 30px;
  text-align: center;
}
.bottom-util li {
  display: inline-block;
  border-left: 1px solid #555;
}
.bottom-util li:first-child {
  border: 0;
}
.bottom-util li:first-child a {
  color: rgb(20, 172, 0);
}
.bottom-util li a {
  display: inline-block;
  padding: 0 10px;
}
.bottom-btn {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 3px;
  width: 114px;
  height: 34px;
  padding-top: 5px;
  margin: 15px 3px;
}
.bottom-btn:hover {
  text-decoration: underline;
}
.address {
  font-style: normal;
  text-align: center;
  margin-top: 7px;
}
.address span {
  margin: 0 10px;
  color: #aaa;
}
.copyright {
  display: block;
  color: #aaa;
  margin: 10px 0;
}